body{
    display: inline-block;
}
#menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* -webkit-transform: translateZ(0); */
    transform: translateZ(0);
    z-index: 100;
/*
    position: fixed;
    top: 0px;
    width: 100%;
    height: 3.5em;
    background-color: white;
    */
    border-bottom: 2px solid black;
}

h3 {
    /*font-family: 'Kanit', sans-serif;*/
}

.moment {
    color: #863100;
    background-color: white;
    transition: background-color 0.5s, color 0.5s;
}

.moment:hover {
    color: white;
    background-color: black;
}

.center {
    margin: auto;
    background-color: white;
    width: 1024px;
    /*max-width: 1200px;*/
    /*min-width: 1024px;*/
    height: 100%;
    padding: 0px;
    vertical-align: middle;
}

li {
    position: relative;
    display: inline-block;
    width: 204.8px;
    background-color: white;
    color: black;
    /*padding: 1.0em;*/
    float: left;
    height: 100%;
    text-align: center;
    margin: 0px;
    transition: background-color 0.5s, color 0.5s;
    /*font-family: 'Kanit', sans-serif;*/
}

li:hover {
    background-color: black;
    color: white;
}

.container {
    width: 1024px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 195px;
    margin-bottom: 25px;
}

.anime {
    position: relative;
    animation: fade 1s;
}

@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.content {
    padding-top: 35px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.icon {
    width: 35px;
    margin: 2px;
    height: 35px;
    border-radius: 50%;
    filter: invert(0%);
    transition: filter 0.5s;
}

.icon:hover {
    filter: invert(100%);
}